.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.button-group {
  display: flex;
  align-self: flex-end;
  margin: 50px;
}

.button-group button {
  margin: 40px;
  border-radius: 0;
}
.button-group label {
  padding: 4px;
}